<header class="d-flex p-3 header">
  <mat-icon type="button" (click)="drawer.toggle()" class="nav-bar-lock"
            [class.rotated]='!drawer.opened'>
    view_week
  </mat-icon>
  <h2 class="header-text m-3 m-auto">Мій Список Улюблених Аніме.</h2>
</header>
<mat-drawer-container class="example-container" autosize hasBackdrop="false">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <a *ngFor="let link of itemLinks"
       [routerLink]="'anime/' + link.id"
       class="link m-2">
      {{link.name}}</a>
  </mat-drawer>
  <mat-drawer-content class="w-100">
    <aside>
      <router-outlet>
      </router-outlet>
    </aside>
  </mat-drawer-content>
</mat-drawer-container>

